.classBG{
    background-image:radial-gradient(rgb(0, 128, 0),black), url('../assets//Images/classesPageBG.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}